<%= render "shared/main_header" %>

<div class="list">
  <div class='title'>
    <h1 class='title-text'>
      アクティビティ一覧
    </h1>
  </div>
  <div class="list-display">
    <div class="list-result">
      検索条件に合致するアクティビティが<span class="result-total-count"><%= @results.total_count %></span>件見つかりました
    </div>
    <table class="list-table">
      <thead>
        <tr class="list-item-row">
          <th class="list-item"><%= "ランナー" %></th>
          <th class="list-item"><%= "日付" %></th>
          <th class="list-item"><%= "場所" %></th>
          <th class="list-item"><%= sort_link(@s, :distance, '距離', default_order: :desc) %></th>
          <th class="list-item"><%= sort_link(@s, :time, 'タイム', default_order: :desc) %></th>
          <th class="list-item"><%= sort_link(@s, :lap, 'ラップ', default_order: :desc) %></th>
        </tr>
      </thead>
      <tbody>
        <% @results.each do |result| %>
          <% if current_user.id == result.user_id %>
            <tr class="list-value-row list-current-user">
          <% else %>
            <tr class="list-value-row">
          <% end %>
            <td id="list-nickname" class="list-value"><%= link_to result.user.nickname, user_path(result.user_id), class: "list-nickname" %></td>
            <td id="list-date" class="list-value"><%=link_to  result.date, score_path(result.id), class: "list-score-id" %></td>
            <td id="list-area" class="list-value"><%= result.area.name %></td>
            <td id="list-distance" class="list-value"><%= sprintf("%1.2f", result.distance) %></td>
            <td id="list-time" class="list-value"><%= Time.at(result.time).utc.strftime('%-H:%M:%S') %></td>
            <td id="list-lap" class="list-value"><%= Time.at(result.lap).utc.strftime('%-M:%S') %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <p>※非公開のアクティビティは含まれません。</p>
    <%= paginate @results %>
  </div>
  <div class="transition-btn">
    <div class="btn-content">
      <%= link_to '検索画面にもどる', search_scores_path, class:"back-btn" %>
    </div>
  </div>
</div>
<%= render "shared/main_footer" %>