<%= render "shared/main_header" %>

<div class="list">
  <div class='form-header'>
    <h1 class='form-header-text'>
      アクティビティ一覧
    </h1>
  </div>
  <div class="list-display">
    <table class="list-table">
      <thead>
        <tr class="list-item-row">
          <th class="list-item"><%= "ランナー" %></th>
          <th class="list-item"><%= "性別" %></th>
          <th class="list-item"><%= "年齢" %></th>
          <th class="list-item"><%= "日付" %></th>
          <th class="list-item"><%= "場所" %></th>
          <th class="list-item"><%= sort_order "distance", "距離" %></th>
          <th class="list-item"><%= sort_order "time", "タイム" %></th>
          <th class="list-item"><%= sort_order "lap", "ラップ" %></th>
        </tr>
      </thead>
      <tbody>
        <% @scores.each do |score| %>
          <tr class="list-value-row">
            <td id="list-nickname" class="list-value"><%= score.user.nickname %></td>
            <td id="list-sex" class="list-value"><%= score.user.sex_id %></td>
            <td id="list-age" class="list-value"><%= (Date.today.strftime("%Y%m%d").to_i - score.user.birthday.strftime("%Y%m%d").to_i) / 10000 %></td>
            <td id="list-date" class="list-value"><%= score.date %></td>
            <td id="list-area" class="list-value"><%= score.area.name %></td>
            <td id="list-distance" class="list-value"><%= sprintf("%1.2f", score.distance) %></td>
            <td id="list-time" class="list-value"><%= Time.at(score.time).utc.strftime('%-H:%M:%S') %></td>
            <td id="list-lap" class="list-value"><%= Time.at(score.lap).utc.strftime('%-M:%S') %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="list-search">
  </div>
</div>
<%= render "shared/main_footer" %>