<%= render "shared/main_header" %>

<div class="score-show">
  <div class='title'>
    <h1 class='title-text'>
      アクティビティ
    </h1>
  </div>
  <%= render "shared/score_detail" %>

  <div class="challenges">
    <% if @course.present? %>
      <div class="sub-title">
        <h2 class="sub-title-text">
          登録コースに挑戦
        </h2>
      </div>
      <div class="challenge-count">
        <%= "現在までに#{@challenge_member}人が挑戦し、#{@challenge_winner}人が#{@score.user.nickname}の記録を上回っています。" %>
      </div>
      <% if current_user.id == @score.user_id %>
        <div class="btn-content">
          <%= link_to "登録コースを削除する", score_course_path(@course.score_id, @course.id), method: :delete, class: "course-delete-btn" %>
        </div>
        <div class="caution">
          <p class="course-warn">※アクティビティを削除する場合には、コースを削除の上、アクティビティの削除が必要です。</p>
        </div>
      <% else %>
        <div class="btn-content">
          <%= link_to "登録コースに挑戦する", score_course_challenge_path(@score.id, @course.id), class: "challenge-btn" %>
        </div>
      <% end %>
    <% else %>
      <% if current_user.id == @score.user_id %>
        <div class="sub-title">
          <h2 class="sub-title-text">
            コース登録
          </h2>
        </div>
        <div class="btn-content">
          <%= link_to "コースを登録する", new_score_course_path(@score.id), class:"next-btn" %>
        </div>
        <div class="caution">
          <p class="course-warn">※コースを登録すると他のユーザーがあなたの記録に挑戦できます。</p>
        </div>
      <% else %>
        <div class="sub-title">
          <h2 class="sub-title-text">
            登録コースに挑戦
          </h2>
        </div>
          <h3 class="answer">
            コース登録されていません
          </h3>
      <% end %>
    <% end %>
  </div>

  <div class="comments">
    <div class="sub-title">
      <h2 class="sub-title-text">
        コメント一覧
      </h2>
    </div>
      <% unless @comments.exists? %>
        <h3 class="answer">
          まだコメントはありません
        </div>
      <% end %>
    <% @comments.each do |comment| %>
      <div class="comment-lists">
        <% if comment.user.id == current_user.id %>
          <div class="my-comment">
            <div class="comment-my-text">
              <%= comment.text %>
            </div>
            <div class="comment-my-nickname">
              <%= link_to comment.user.nickname, user_path(comment.user_id), class: "comment-nickname" %>
            </div>
          </div>
        <% else %>
          <div class="guests-comment">
            <div class="comment-guests-nickname">
              <%= link_to comment.user.nickname, user_path(comment.user_id), class: "comment-nickname" %>
            </div>
            <div class="comment-guests-text">
              <%= comment.text %>
            </div>
          </div>
        <% end %>
        <br>
      </div>
    <% end %>
    <%= form_with(model: [@score, @comment], local: true) do |f| %> 
      <div class="comment-box">
        <%= f.text_area :text, placeholder: "コメントする", class: "comment-text" %>
        <%= f.submit "SEND", class: "comment-btn" %>
      </div>
      <p class="comment-warn">
        ※相手のことを考え丁寧なコメントを心がけましょう。
        <br>
        　不快な言葉遣いなどは利用制限や退会処分となることがあります。
      </p>
    <% end %>
  </div>

  <div class='transition-btn'>
    <% if current_user.id == @score.user_id && @course.blank? %>
      <div class="btn-content">
        <%= link_to '削除する', score_path(@score.id), method: :delete, class:"score-delete-btn" %>
      </div>
    <% end %>
    <div class="btn-content">
      <%= link_to 'もどる', root_path, class:"back-btn" %>
    </div>
  </div>
</div>
<%= render "shared/main_footer" %>