<header class='top-page-header'>
  <div class='search-bar-contents'>
    <%= link_to "Run-Online",  "/", class: "site-logo" %>
    <%# link_to "検索画面へ", search_items_path, class:"detail-search" %>
  </div>
  <div class='nav'>
    <ul class='menu'>
      <% if user_signed_in? %>
        <li><%= link_to current_user.nickname, "#", class: "user-nickname" %> </li>
        <li><%= link_to 'アクティビティ登録', new_score_path, class: "score-new" %> </li>
        <li><%= link_to 'アクティビティ一覧', "#", class: "score-all" %> </li>
        <li><%= link_to 'ランキング', "#", class: "score-ranking" %> </li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %> </li>
      <% else %>
        <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
      <% end %>
    </ul>
  </div>
</header>